
  .a{fill:#170c0c;}.a,.b{stroke:#707070;}.b{fill:#fff;}.c,.d{fill:snow;font-family:SegoeUI, Segoe UI;}.c{font-size:20px;}.d{stroke:#241e1e;font-size:40px;}.e{fill:none;}.f{stroke:none;}.g{filter:url(#a)}.g{margin: 20%;}
