.cate{
    width: 100%;
    padding-left: 30px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,200px);
    gap: 20px;
}

@media only screen and (max-width: 550px){

    .cate{
        width: 100%;
        padding-left: 30px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
     
        gap: 20px;
    }
    .Sidebarhome{
        
    }
    .itemCoons {
        display: grid;
       
        grid-template-columns: 0.1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        margin : 10%;
        
        
         
        
      }
}
