
 .Cube3d{
        
    width: 650px;
        height : 70vh;
        margin: 0 auto;
    }
    
@media only screen and (max-width: 550px){
    .Cube3d{
        height: 100px;
        width: 100px;
    }
}
