.profile{
    display: grid;
    grid-template-areas: 
    'info   info'
    'side  mainInfo'

    ;
    grid-template-columns: 20% 80%;
    margin-bottom: 10%;
}
.info{
    grid-area: info;
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: solid 20px black;
}
.sideselleroptions{
    padding-left: 20px;
    padding-top: 10px;
    grid-area: side;
    border-right: solid 2px black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
   
}
.MainInfo{
    grid-area: mainInfo;
    padding: 20px;
}
.picCon{
    padding-left: 50px;
}
.ProPic{
    width: 200px;
    height: 200px;
}
.SellerInfoBox{
    border: black solid 2px;
    padding: 20px;
    margin: 10px;
   
    
}
.SellerBox{
    border: black solid 2px;
    
    
}
.edit {
    
    text-decoration: underline;
}
.edit :hover{
    cursor: pointer;
   
}
.Message{
    grid-area: message;
    display: grid;
    grid-row: 1fr 1fr;
    padding-bottom: 10px;
}
.Num{
    grid-area: number;
    display: grid;
    grid-row: 1fr 1fr;
    padding-bottom: 10px;
}
.Email{
    grid-area: email;
    display: grid;
    grid-row: 1fr 1fr;
    padding-bottom: 10px;
}
.cont{
    border-radius: 10px;
    border: black solid 2px;
    background-color: #F1F9FF;
    padding: 5px;
    width: 50%;
   
}
textarea{
    border-radius: 10px;
    border: black solid 2px;
    background-color: #F1F9FF;
    padding: 5px;
    width: 70%;
}
.contactAdd{
    display: grid;

    grid-template-areas: 
    
    
    
   
    'email    email'
    'number   number'
    'message    message'
    
    
    ;
    
    gap: 10px;
    padding-left: 100px;
    padding-top: 50px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration-color: black;
}
.sendToSeller{
    
    margin-left: 80%;
    
    
   height: 50px;
    width: 50px;
}
.commentCon{
    border: black solid 2px;
    margin: 30px;
}