.logo h1{
    text-align: start;  

    
}
.logo{
    text-align: start;
    padding-top: 20px;
    display: flex;
    
}
.word {

   margin-bottom: 50px;
    
}
.logoPic{
    width: 50px;
    height: 50px;
}