.signUserContainer{
    border: black solid 3px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    margin: 20%;
    margin-top: 2%;
   overflow: hidden;
    
    text-align: center;
}
.signupImage{
    background-image:  url('../../Assets/images/background/signUP.jpg');
    
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
   
}

.signUpTitle {
    /* margin-bottom: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    font-weight: bold;
    
}
.buttonSignUp{
    margin-bottom: 20px;
}

.sign-up{
    
    border: black solid 2px;
    
}
.sign-ups{
    border-radius: 10px;
    border: black solid 1px;
    
}



