
.infoGrid{
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr;
   
    height: 150px;
    align-items: end;
   
    padding-bottom: 20px;
    padding-top: 20px;
}


.itemName a{
    text-decoration: none;
    color: black;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
}
.itemName {
    padding-left: 20px;
}
.itemPrice {
    
    
    align-content: end;
    padding-left: 20px;
}
.itemPrice a{
    font-weight: bold;
   
    text-align: start;
    font-size: 25px;
    
    
}
.itemConditionName a{
    font-weight: bold;
    color: #FF6C4B ;
    text-align: start;
    font-size: 5px;
    
    
}
.itemCatName{
    display: flex;
    justify-self: space-between;
    padding-left: 20px;
}
.itemCatName a{
    font-weight: bold;
    color: grey ;
    text-align: start;
    font-size: 10px;
    
    
}




    


.slidecardimg{
    /* border: black solid 2px; */
   
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.cardBack{
    /* border-style: ridge; */
   
    display: grid;
    grid-template-rows: 200px 150px;
    background-color: white;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    /* border: black solid 1px; */
    /* box-shadow: 5px 10px 5px 1px rgb(51, 49, 49); */
    padding: 2%;
    transition: transform .08s; /* Animation */
    
}
.cardBack:hover {
   
    box-shadow:0px 19px 37px -18px #000000;
   
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .link {
    color: #FFF;
  }
  .link:hover {
    color: #FFF;
  }