
.home{
  padding-top: 2%;

  height: 100%;
  display: grid;
  grid-template-areas: 
  'Recent'
  'Items'
;
  /* grid-template-rows: 30% 1fr;
  gap: 15%; */
  margin-left: 5%;
  margin-right: 5%;

 
}
.recent{
  grid-area: Recent ;
    display: grid;
    grid-template-areas: 
    'hero  hero hero firstpic secpic'
    'hero  hero hero thrdpic fthpic'
    
    ;
    
    /* grid-template-columns: 19% 19% 19% 19% 19%; */
    grid-template-columns: repeat(auto-fit, minmax(160px, 19%));
    grid-template-rows: 1fr 1fr;
    
   width: 100%;
  
  
  gap: 70px 10px;
   /* padding-bottom: 1000px; */
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
}
.myClass{
 
}

.myClass > a {
  background-color: white;
  color: black;
}
.myClass  > a.active:focus {
  background-color:   #FF6D4B;
  ;
  color: white;
}
.infoItems{
  grid-area: Items ;
  padding-top: 100px;
  display: grid;
  grid-template-areas: 
    'Heading'
    'Body'
    
    ;
    
  gap: 1%;
  height: 100%;
}
.infoHead{
  grid-area: Heading ;
  /* background-color: #0081F1; */
 
}
.infoBody{
  grid-area: Body ;
  /* background-color: #0081F1; */
 
}

.hero{
  grid-area: hero ;
  /* background-color: #0081F1; */
 
}
.hero img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.firstpic img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.firstpics{
  grid-area: firstpic ;
   

  position: relative;
}

.secpic{
  grid-area: secpic ;
  
  position: relative;
}
.thrdpic{
  grid-area: thrdpic ;
  
  position: relative;
}
.fthpic{
  grid-area: fthpic ;
 
  position: relative;
}






.itemCoon {
    display: grid;
    padding: 1%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    height: 50%;
    gap: 20px 20px;
    
  
     
    
  }




.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: red;
}


.slides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}



.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
  color: red;
}


/*///////////////////////////////////////////////////*/
@media only screen and (max-width: 768px) {
  .recent{
   
    
  
    grid-template-areas: 
    'hero     hero'    
    'firstpic secpic'
    'thrdpic  fthpic'
 
  
    ;
  grid-template-columns: 1fr 1fr;
  
  grid-template-rows:1fr;
   width: 100%;
   justify-items: center;
  
 
}
}
@media only screen and (max-width: 550px){
  .recent{
   
    
  
    grid-template-areas: 
    'hero  '
    'firstpic '
    'secpic'
    'thrdpic'
    'fthpic'
  
    ;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    
   width: 100%;
  
  
 
}
/* .itemCoon {
  display: grid;
  padding: 1%;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  height: 50%;
  gap: 20px 20px;
  

   
  
} */
/* The slider Recent Image */
  .slides {
   
    
    width: 100%;
  }






.slideimg{
  border: black solid 2px;
  height: 200px;
  border-radius: 10px;
  width: 100%;
  

}
 
  .itemrec{
    display: grid;
   
    grid-template-columns: 0.1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin : 10%;
    
  }
  .topcat{
   
  }
  .topPick{
    
  
}
.back{
        /* margin: 0 !important;
  padding-bottom: 2.5rem; */
}


}