.itemPicContainer{
    display: grid;
    grid-template-rows: repeat(2,1fr);
   
}
.itemPicture{
   
    width: 80%;
    
   margin-right: 10%;
   margin-left: 10%;
    justify-self: center;
    object-fit: cover;
   
}
.itemcontain{
    display: grid;
    grid-template-columns: 55% 45%;
  
    margin: 0;
  
}
.infoItem{
    
    width: 100%;
    padding: 20px;
    background-color: white;
    border: #fffcfc solid 5px;
    border-radius: 10px;
}

.iteminfo{
  
    width: 100%;
    border: #707070 solid 1.5px;
    border-radius: 10px;
    display: grid;
    /* grid-template-rows: repeat(6, 0.5fr); */
    grid-template-rows: 0.5fr 0.5fr 0.4fr 0.4fr 0.4fr 0.5fr;
    padding: 5%;
   
}
.iteminfo a{
    text-transform: uppercase;
}
.sellerTitle{
    grid-area: seller;
    font-weight: 900;


}
.sellerInfo{
    text-transform: capitalize;
    border:black solid 2px;
    border-radius: 1px;
    padding-left: 10px;
    font-weight: 600;
   
}

.sellername{
    grid-area: name;
}
.rating{
    grid-area: rating;
}
.itemmName{
    
   
    /* background-color: #FF6C4B; */
    /* text-align: center; */
    /* margin: 10px 0; */
    /* padding-left: 10px; */
    
    padding: auto;
    color: black;
     font-weight: 700;
     /* box-shadow:0px 19px 7px -18px #000000; */
     font-size:50px;
     text-transform: capitalize;
    text-shadow: 1px 1px grey;
    padding-left: 10px;
}

.Prices{
    font-weight: 800;
    font-size: 20px;
    color: #FF5F28;
}
.Price{
    padding-left: 10px;
    font-size: 15px;
    
    margin-bottom: 2%;
    color: black;
}
.infos a{
    font-weight: 580;
    font-size: 20px;
    
}
.Condion{
    font-size: 20px;
    padding-left: 5%;
}
.Quantity{
    font-size: 20px;
    padding-left: 5%;
    border-bottom: 0.5px solid black;
    box-shadow: 0px 1px #888888;
}
.SellerLocation{
    padding-left: 10px;

    text-transform: capitalize;
    font-size: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.ContactSeller a {
    font-weight: 600;
    font-size: 20px;
    color: #FF5F28;
}
.amount{
    color:#FD0202 ;
}
.Quantity{
    padding-bottom: 50px;
}
.descriptionInfoCon{
   
    text-transform: capitalize;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 40px;
}