/* .itemContainer{
    display: grid;
    grid-template-areas: 
    'pic'
    'name'
    'des'
    ;
   
  
    
   
    border-radius: 20px;
    
    width: 200px;
    max-height: 400px;
    text-align: center;
   justify-items: center;
 
}

.itemContainer :hover{
    cursor: pointer;
}

.itemName{
    grid-area: name;
    align-items: flex-end;
    justify-items: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Serif', serif;
    color: red;
    
}
.itemName a{
    text-decoration: none;
    
}
.itemPrice a{
    text-decoration: none;
    color: red ;
}

.imageCon{
    grid-area: pic;
    
    width: 200px;
    height: 200px;
   
    
}

.slideimgCon{
   
    height: 200px;
    width: 100%;
    
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: red;
}


.imageslides {
  position: relative;
  width: 200px;
    height: 200px;
  
}



.imageslides .slick-prev {
  left: 5%;
  position: absolute;
}

.imageslides .slick-next {
  right: 5%;
  color: red;
  position: absolute;
}

    

.itemPrice{
    
    grid-area: des;
    text-align: center;
   
   
} */

.slideimgCon{
   
  height:180px;
  width: 180px;
  
  grid-area: 4/5 ;
  position: absolute;
 z-index: 0;
  top: 0px;
  left: 45px;
  bottom: 0px;
  right: 100px;
  border-radius: 10px;
  
}
.bottum {
  color: white;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  padding: 0 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 5px 0;
  padding-bottom: 10px;
}
.firstpic{
  position: relative;

 
  /* height: 50%;
  align-self: end;
  transform: skew(10deg);
  background: #FF8A66;
   border-radius: 10px; 
  box-shadow:0px 19px 37px -18px #000000; */
   
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  border-radius: 20px; 
  position: relative;
  top: 50px;
  left: 28px;
  bottom: 0px;
  right: 100px;
  align-self: end;
  width: 212px;
  height: 200px;
  transition: transform .08s;
}
.bgshadow{
  /* filter: drop-shadow(-1px 5px 3px rgba(50, 50, 0, 0.5)); */
}
.bgshadow:hover{
  filter: drop-shadow(-1px 20px 3px rgba(50, 50, 0, 0.5));
}
.itemContainer{
  
  transition: transform .08s; /* Animation */
  overflow:visible;
 
 
}
.itemContainer:hover {
 
 
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
