.page-item{
    border: black solid 1px;
    list-style-type: none;
    padding: 1%;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
padding-right: 12%;
padding-top: 100px;
}
.page-link{
    text-decoration: none;
   
}