.footer{

    padding-bottom: 100px;
  
}
.footerCon a{
    color: white;
    text-align: center;

}
.footerCon{
    
    
    width: 100%;
    
    
    background-color: black;
       
}
.footInfo{
   
    position: relative ; bottom: 0; width: 100%;
   
   padding-left: 10%;
   padding-right: 10%;
    
    padding-top: 30px;
    
}
.copyright{
    grid-area: copyright;
    padding-bottom: 10px;
}
.footer{
    grid-area: info;
}
.footTitle{
        font-size: 20px;
        text-align: center;
        
}
.fotinfo{
     padding-top: 10px;
 display: grid;
 grid-template-rows: 1fr 1fr;
}
.fotinfo a{
    font-size: 12px;
}