.logInUserContainers{
    border: black solid 3px;
   text-align: center;
     margin: 20%; 
     margin-top: 2%;
    /* padding: 10%;  */
      overflow: hidden;
    padding: 0;
    border-radius: 20px;
   
}
.signImage{
    background-image:  url('../../Assets/images/background/SignIn.jpg');
    
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
   
}
.signInform{
    padding-bottom: 20%;
    margin: 20%;

}
.LoginImage{
    display: block;
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
.signUpTitle {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
   
    
}
.user_In{
    
    gap: 10px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration-color: black;
    
}


.Emails{
    grid-area: email;
    
    text-align: center;
}
.Passs{
    grid-area: password;
    
}
.Phone{
    grid-area: Phone;
    
}
.Adress{
    grid-area: address;
    
}
.sign{
    border-radius: 10px;
    border: black solid 2px;
    background-color: #F1F9FF;
    padding: 5px;
    width: 100%;
}
.signInButton{
    
    
   
   margin-top: 20px;
}
.signarrow :hover{
    cursor: pointer;
}
a{
    text-align: start;
    padding-bottom: 2px;
}


