.Sidebar{
   
   
    display: flex;
}
.Sidebar a{
    color: black;
}
.catTitle {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    
}

.catInfo{
    text-decoration: none;
    color: white;
    text-align: center;
}