.logInUserContainer{
    border: black solid 3px;
    align-items: center;
    justify-items: center;
    margin: 20%;
    margin-top: 5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 20px;
}
.signUpTitle {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}
.addItem{
    display: grid;

    grid-template-areas: 
    
    
    'NAME   '
    'Condition'
    'Picture'
    'category'
    'Price'
    'Quantity'
    'Description'
    'ReturnPolicy'
    
    
    ;
    align-items: left;
    justify-items: left;
    gap: 10px;
    padding-left: 10%;
    padding-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration-color: black;
}

.Categorys{
    grid-area: category;
    display: grid;
    grid-row: 1fr 1fr;
}
.Namess{
    grid-area: NAME;
    display: grid;
    grid-row: 1fr 1fr;
}
.Conditions{
    grid-area: Condition;
    display: grid;
    grid-row: 1fr 1fr;
}
.Pictures{
    grid-area: Picture;
    display: grid;
    grid-row: 1fr 1fr;
}
.Prices{
    grid-area: Price;
    display: grid;
    grid-row: 1fr 1fr;
}
.Quantitys{
    grid-area: Quantity;
    display: grid;
    grid-row: 1fr 1fr;
}.Descriptions{
    grid-area: Description;
    display: grid;
    grid-row: 1fr 1fr;
}.ReturnPolicys{
    grid-area: ReturnPolicy;
    display: grid;
    grid-row: 1fr 1fr;
}
.sign{
    border-radius: 10px;
    border: black solid 2px;
    background-color: #F1F9FF;
    padding: 5px;
    width: 100%;
}
.signarrow{
    height: 50px;
    width: 50px;
    
   margin-left: 50%;
   margin-bottom: 20px;
}
.signarrow :hover{
    cursor: pointer;
}
a{
    text-align: start;
    padding-bottom: 2px;
}


