.addform{
    background-color: white;
    margin: 100px;
    border: solid gray 1px;
    padding: 100px;
    margin: 50px;
    margin-left: 300px;
    margin-right: 300px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: Center;
    box-shadow: 8px 8px 6px -6px black;
    
}
.addcon{
    padding: 200px;
    padding-top: 20px;
    padding-bottom: 400px;

}