.cat{
    height: 100%;
    display: grid;
    grid-template-areas: 
    'banner banner'
    'side   items'
    ;
    grid-template-columns: 20% 80%;
    grid-template-rows: 0.6fr 2fr;
   
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.banner{
    
   
   
    color: black;
    height: 200px;
    width: 100%;
    padding-bottom: 1%;
    
}
.bannerContainer{
    border-bottom: black solid 10px;
    height: 200px;
    width: 100%;
}
.cats{
   
    border-radius: 20px;
    padding: 40px 50px;
    color: white;
    
}
.catItem{
    grid-area: items;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ProPics{
  
    
  
}
.catcopg{
    padding: 5%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}
.jumbo-Cat{
    background-image:  url('../../Assets/images/background/tech8.jpg');
   
    background-size: cover;
    color: white;
    width: 100%;
}
@media only screen and (max-width: 550px){
    .catcopg{
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(auto-fit, minmax(160px, 1fr));;
        gap: 20px;
    } 
}