.nav span{
    border-right: 2px solid black;
    padding: 0 10px;
    justify-content: space-between;
   
    width: 100%;
    justify-items: center;
} 
.navC{
    background-color: black;
    box-shadow: 0px 8px 6px -6px black;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
}

.textcol{
    text-decoration: none;
    
    color: black;
    
}

.logopic{
    
}
.login{
    
  
}
.searchbarpic{
    
}
.signs{
    
    
}
.searchb{
    
}
.searchbarpic{
    
}
.l{
   
}