.profile{
    display: grid;
    grid-template-areas: 
    'info   info'
    'side  mainInfo'

    ;
    grid-template-columns: 20% 80%;
    
}
.info{
    grid-area: info;
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: solid 20px black;
}
.sellerInformation{
    border-bottom: 20px solid  black;
}
.sideoptions{
    padding-left: 20px;
    padding-top: 10px;
    grid-area: side;
    border-right: solid 2px black;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
   
}
.MainInfo{
    grid-area: mainInfo;
    padding: 20px;
}
.picCon{
    padding-left: 50px;
}
.ProPic{
    width: 200px;
    height: 200px;
}
.userInfoBox{
    text-transform: capitalize;
    border: black solid 2px;
    padding: 20px;
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    
}

.edit {
    
    text-decoration: underline;
}
.edit :hover{
    cursor: pointer;
   
}
.edit-up{
    border-radius: 10px;
    border: black solid 2px;
    background-color: #F1F9FF;
    padding: 5px;
    width: 50%;
}
.edit-form{
    padding-left: 50px;
    display: grid;
    grid-template-rows: repeat(12 ,1fr);
}
.contact{
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: black 2px solid;
}